<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>362497299363-ls8eat7u9dlobplrkko2n2ud1pfp9li9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.362497299363-ls8eat7u9dlobplrkko2n2ud1pfp9li9</string>
	<key>API_KEY</key>
	<string>AIzaSyBlJiqz5KtFHRPydSFQWqkffTdFzsQlakA</string>
	<key>GCM_SENDER_ID</key>
	<string>362497299363</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.keystone.gpspettracker</string>
	<key>PROJECT_ID</key>
	<string>gps-pet-track3r</string>
	<key>STORAGE_BUCKET</key>
	<string>gps-pet-track3r.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:362497299363:ios:255c5f5fe084b20de40016</string>
</dict>
</plist>